<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>By the Cake</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Buy the cake in By the Cake" />
    <meta name="keywords" content="cakes, buy" />
    <meta name="author" content="Emre Eredzheb" />
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    <h1>By The Cake</h1>
    <h2>Enjoy our awesome cakes</h2>
    <hr>
    <ul>
        <li>
            <a href="index.html">Home</a>
            <ol>
                <li><a href="#cakes">Our Cakes</a></li>
                <li><a href="#stores">Our Stores</a></li>
            </ol>
        </li>

        <li><a href="add.html">Add Cake</a></li>
        <li><a href="search.html">Browse Cakes</a></li>
        <li>About Us</li>
    </ul>

    <div>
        <h2>Home</h2>
        <div>
            <h3 id="cakes">Our Cakes</h3>
            <p>Cake is a form of sweet dessert that is typically baked. In its oldest forms, cakes were modifications of breads, but cakes now cover a wide range of preparations that can be simple or elaborate, and that share features with other desserts such as pastries, meringues, custards, and pies.</p>
            <img src="https://img.taste.com.au/DqTMY6Cz/taste/2018/08/smarties-chocolate-cake-139872-2.jpg" alt="cakeImage" width="720" height="468">
        </div>
        <div>
            <h3 id="stores">Our Stores</h3>
            <p>Our stores are located in 21 cities all over the world. Come and see what we have for you.</p>
            <img src="https://ichef.bbci.co.uk/food/ic/food_16x9_832/recipes/easy_chocolate_cake_31070_16x9.jpg" alt="cakeImage" width="720" height="468">
        </div>
    </div>

    <div class="indexContactDiv">
        <pre>
             City: Hong Kong
             Address: ChoCoLad 18
             Phone: +78952804429
        </pre>
        <pre>
             City: Salzburg
             Address: SchokoLeiden 73
             Phone: +49241432990
        </pre>
    </div>

    <hr>

    <footer>
        <p align="center">©All Rights Reserved.</p>
    </footer>
</body>
</html>